PORT=3000

GEE_KEY_FILE=./service-account-key.json
GEE_SCALE=30

GEE_RAIN_CLASS_ASSET=projects/tugasakhirannisa/assets/rain_class
GEE_SLOPE_CLASS_ASSET=projects/tugasakhirannisa/assets/slope_class
GEE_LANDCOVER_CLASS_ASSET=projects/tugasakhirannisa/assets/landcover_class

GEE_RF_ALL_ASSET=users/annisanurfadilah_e1e122004/RF_KERAWANAN_MASKED_NEW
GEE_RF_SLOPE_RAIN_ASSET=projects/tugasakhirannisa/assets/rf_slope-rain
GEE_RF_SLOPE_LANDCOVER_ASSET=projects/tugasakhirannisa/assets/rf_slope-landcover
GEE_RF_RAIN_LANDCOVER_ASSET=projects/tugasakhirannisa/assets/rf_rain-landcover

GEE_RAIN_CLASS_BAND=0
GEE_SLOPE_CLASS_BAND=0
GEE_LANDCOVER_CLASS_BAND=0

GEE_RF_ALL_BAND=0
GEE_RF_SLOPE_RAIN_BAND=0
GEE_RF_SLOPE_LANDCOVER_BAND=0
GEE_RF_RAIN_LANDCOVER_BAND=0
# Area studi untuk menghitung luas aman/sedang/rawan di endpoint /api/area-stats
GEE_AREA_STUDI_ASSET=users/annisanurfadilah_e1e122004/area_studi_final
